<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Instagram scrapper</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
	</head>
	<body class="container">
		<form class="my-5" method="post" action="/option">
			<fieldset>
				<legend>Login</legend>
				<div class="mb-3">
					<label for="usernameLogin" class="form-label">Masukkan username untuk login</label>
					<input type="text" name="usernameLogin" class="form-control" id="usernameLogin" />
				</div>
				<div class="mb-3">
					<label for="passwordLogin" class="form-label">Masukkan password untuk login</label>
					<input type="password" name="passwordLogin" class="form-control" id="passwordLogin" />
				</div>
			</fieldset>
			<button type="submit" class="btn btn-primary">
				Submit
				<!-- <div class="spinner-border text-light" role="status">
					<span class="visually-hidden">Loading...</span>
				</div> -->
			</button>
		</form>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	</body>
</html>
