<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Instagram scrapper</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
	</head>
	<body class="container">
		<% if (message) { %>
		<div class="alert alert-<%= message.type %>" role="alert"><%= message.message %></div>
		<% } %>
		<fieldset>
			<form class="my-5" method="post" action="/likers">
				<legend>Likers scraping</legend>
				<div class="mb-3">
					<label for="link" class="form-label">Masukkan link postingan</label>
					<input type="text" name="link" class="form-control" id="link" aria-describedby="desc" />
					<div id="desc" class="form-text">akhir link jangan ada karakter "/"</div>
				</div>
				<div class="mb-3">
					<label for="limitLikers" class="form-label">Masukkan batas data maksimal</label>
					<input type="number" name="limitLikers" class="form-control" id="limitLikers" />
				</div>
				<button type="submit" class="btn btn-primary">
					<% if (isLoading) { %>
					<div class="spinner-border text-light" role="status">
						<span class="visually-hidden">Loading...</span>
					</div>
					<% } else{ %> Submit <% } %>
				</button>
			</form>
		</fieldset>
		<hr />
		<fieldset>
			<form class="my-5" method="post" action="/getFollowers">
				<legend>Followers scraping</legend>
				<div class="mb-3">
					<label for="usernameInstagram" class="form-label">Masukkan username instagram yang ingin discrapping</label>
					<input type="text" name="username" class="form-control" id="usernameInstagram" />
				</div>
				<div class="mb-3">
					<label for="limitFollowers" class="form-label">Masukkan batas data maksimal</label>
					<input type="number" name="limitFollowers" class="form-control" id="limitFollowers" />
				</div>
				<button type="submit" class="btn btn-primary">
					<% if (isLoading) { %>
					<div class="spinner-border text-light" role="status">
						<span class="visually-hidden">Loading...</span>
					</div>
					<% } else{ %> Submit <% } %>
				</button>
			</form>
		</fieldset>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	</body>
</html>
