<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= title %> </title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
	</head>
	<body class="container my-5">
		<div class="d-flex justify-content-between">
			<h3 class="text-center"><%= title %> </h1>
			<a href="<%= linkExcel %>" class="btn btn-success">Convert to Excel</a>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Username</th>
					<th scope="col">url</th>
				</tr>
			</thead>
			<tbody>
				<% for( let i = 0; i < data.length ; i++ ) { %>
					<tr>
						<th scope="row"><%= i + 1 %> </th>
						<td><%= data[i]?.username %> </td>
						<td><a href="<%= data[i]?.url %>" target="_blank"><%= data[i]?.url %></a></td>
					</tr>
				<% } %>
			</tbody>
		</table>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	</body>
</html>
